/* Web Font Load*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+KR:wght@400;500;700&display=swap');


/* 전체 공통 설정 (링크 연결된 텍스트 밑줄 X, 텍스트 디폴트 색상 검정)*/
*{
  text-decoration-line: none;
  color: black;
}

/* body (header, footer, main) 여백 설정 */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 60px auto 100px;
  grid-template-areas:
  'header'
  'main'
  'footer';
}
main{
  width: 1060px;
  margin: 0 auto;
}

/* header, footer 설정 */
header, footer {
  padding: 0px; 
  background: rgb(24, 39, 19);
  color: white;
}
#header_container{
  width: 1060px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  margin-bottom: 16px;
  text-align: right;
  justify-content: space-between;
}
#header_logo {
  margin: 3px 0px;
  align-items: center;
  align-self: flex-start;
}
.header_bar {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header_menu{
  width: 180px;
  height: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  padding: 20px 0px;
  letter-spacing: -0.5px;
}
.header_menu:hover{
  background-color: darkgreen;
}
/* class="header_menu here"에 해당하는 부분. 선택된 헤더 메뉴를 가리킬 때 */
.here{
  background-color: rgb(17, 151, 65);
}

.header_login {
  width: 85px;
  height: 18px;
  font-family: 'Montserrat', sans-serif;
  margin: 15px 10px;
  font-size: 14px;
  /* padding: 5px 0px; */
  padding: 6px 0px;
  text-align: center;
  border-radius: 20px;
}
.sign_in{
  background-color: rgb(249, 255, 246);
  color:rgb(24, 39, 19);
}
.login{
  background-color: rgb(17, 151, 65);
  color:white;
}


#mypage_icon {
  margin: 4px 0px 0px 30px;
}

#footer_container{
  width: 1060px;
  margin: 10px auto;
  align-items: center;
  display: flex;
  text-align: right;
  justify-content: space-between;
}
.fotter_logo_menu,
.footer_logo_menu{
  display: flex;
  align-items: flex-start;
  width: 500px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
.footer_font{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}