/* Web Font Load*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+KR:wght@400;500&display=swap');

/* main 설정 */
.main_container {
  width: 1060px;                         
  height: 420x;
  margin: 50px auto;
}


/* 툴바 */
.toolbar{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.filter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  grid-gap: 20px;
}
/* 호스트 레벨 필터 */
.dropdown{
  position : relative;
  display : inline-block;
}
.dropbtn_icon{
  font-family: 'Montserrat', sans-serif;
}
.dropbtn{
  border : 1px solid  darkgreen;
  background-color:white;
  font-weight: bold;
  color : rgb(37, 37, 37);
  padding : 12px;
  width : 180px;
  text-align: center;
  cursor : pointer;
  font-size : 14px;
}
.dropdown-hostlevel,
.dropdown-stars,
.dropdown-sort{
  display : none; /*마우스 올리기 전에는 보이지 않음 */
  position : absolute; /*마우스 올렸을 때 다른 요소의 위치 이동 없음*/
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 500;
  background-color: white;
  width : 178px;
  border: 1px solid darkgreen;
  border-top: 0px;
  padding: 0px;
  margin: 0px;
}
.dropdown-hostlevel a,
.dropdown-stars a,
.dropdown-sort a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding : 13px 0px;
  margin: 0px;
}

.dropdown-hostlevel a:hover,
.dropdown-stars a:hover,
.dropdown-sort a:hover{
  background-color : darkgreen;
  color: white;
}

.dropdown:hover .dropdown-hostlevel,
.dropdown:hover .dropdown-stars,
.dropdown:hover .dropdown-sort {
  display: block;
}

/* 호스트 리스트 설정 */
ol,
ul {
  list-style: none;
  margin:0px;
  padding: 0px;
}
.list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.list figure{
  width: 100%;
  align-items: center;
  width: 257.5px;
  height: 270px;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
}
.host_photo{
  width: 100%;
  height: 150px;
}
.host_info{
  width: 275.5;
  height: 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 3px 0px;
  padding: 5px;
  grid-template-areas:
  'host_name host_reputation'
  'host_introduction host_introduction'
  'host_introduction host_introduction'
}
.host_reputation {
  text-align: right;
  grid-area: host_reputation;
}
.host_reputation,
.host_stars,
.number_of_times {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  line-height: 20px;  
}
.host_name{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 25px;
  grid-area: host_name;
}
.host_introduction {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  line-height: 20px;
  grid-area: host_introduction;
}
.d-none {
  display: none;
}




/* hostlist에서 미사용 */
.tab {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: center;
  }

.tab button {
  width: 300px;
  height: 47px;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 0.5px solid lightgray;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
/* 선택된 탭 버튼 스타일 */
.tab button.active {
  background:rgb(17, 151, 65);
  color: white;
  border: 0.5px solid lightgray;
}
/* 탭 컨텐츠 스타일 */
.tabcontent {
  display: none;
  clear: both;
}
/* 선택된 탭 컨텐츠 스타일 */
.tabcontent.active {
  display: block;
}

/* 카테고리별 컨텐츠*/
.cat_moim_list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: center;
}
.cat_moim{
  width: 260.5px;
  height: 270px;
  margin: 5px 0px;
}
.left{
  border-right: 3px solid white;
}
.middle{
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.right{
  border-left: 3px solid white;
}
.photo{
  width: 100%;
  height: 150px;
}
