/* Web Font Load*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+KR:wght@400;500;700&display=swap');

*{
  font-family: 'Noto Sans kr', sans-serif;
  font-size: 16px;
}
.container {
  width: 1060px;
  height: auto;
  margin: 30px 0px;
}
  
/* date 미리보기 색상만 회색으로 바꾸는거 안되나...
input[type="date"]{
  color:blueviolet
} */


.form-group{
  border: 1px rgb(17, 151, 65) solid;
  border-radius: 10px;
  padding: 20px ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  'box1 box2'
  'box3 box4'
  'box5 box6'
  'box7 box8'
  'box9 box9'
  'box10 box10';
  grid-gap: 20px 20px;  
}

/*박스 세부 사항*/
.box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form_name{
  width: 130px;
  height: 40px;
  font-weight: 700;
  line-height: 38px;
}
.select_box{
  width: 361.33px;
  height: 46.33px;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 5px;
}
.textbox{
  width: 350px;
  height: 35px;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 5px;
}
.title{
  width: 900px;
  height: 30px;
}
.main{
  width: 900px;
  height: 230px;
}

.box1{
  /* background-color:rgb(93, 142, 185); */
  grid-area: box1;
}
.box2{
  /* background-color:rgb(224, 51, 163); */
  grid-area: box2;
}
.box3{
  /* background-color:rgb(46, 175, 95); */
  grid-area: box3;
}
.box4{
  /* background-color: red; */
  grid-area: box4;
}
.box5{
  /* background-color:rgb(71, 80, 87); */
  grid-area: box5;
}
.box6{
  /* background-color:rgb(139, 223, 36); */
  grid-area: box6;
}
.box7{
  /* background-color: yellow; */
  grid-area: box7;
}
.box8{
  /* background-color: purple; */
  grid-area: box8;
}
.box9{
  /* background-color:pink; */
  grid-area: box9;
}
.box10{
  /* background-color: orange; */
  grid-area: box10;
  align-items: flex-start;
}

.submit{
  margin: 20px 0px;
  width: 1060;
  padding: 5px 50px;
  height: 40px;
  float: right;
  background-color: rgb(17, 151, 65);
  font-size: 20px;
  color: white;
  border: 0px;
  border-radius: 5px;;
}


/*박스 세부 사항 끝*/

.moims_container {
  width: 1060px;                         
  height: 420x;
  margin: 50px auto;
}
.section_header {
  align-items: flex-end;
  display: flex;
  margin-bottom: 20px;
  text-align: left;
  justify-content: space-between;
}
.section_title {
  display: flex;
  height: 26px;
  font-weight: 700;
  font-size: 24px;
  align-items: center;
  align-content: center;
  letter-spacing: -1px;
  margin: 40px 0px 30px 0px;
}
.green_bar {
  height: 80%;
  margin-right: 5px;
}
.more_button{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 14px;
  letter-spacing: -0.5px;
}


/* POPULAR MOIM */
.popular_list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: center;
}
.left{
  border-right: 3px solid white;
}
.middle{
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.right{
  border-left: 3px solid white;
}
.popular_photo{
  width: 100%;
  width: 350px;
  height: 233px;
  margin: 3px 0px;
  border-radius: 10px; 
}
.moim_location_price{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  line-height: 20px;
}
.moim_title{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 25px;
}

/* MOIM lIST */
/* MOIM LIST 카테고리 바*/

/* 카테코리 바 */
/* 탭 버튼 스타일 */
.tab {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: center;
  }

.tab button {
  width: 300px;
  height: 47px;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 0.5px solid lightgray;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
/* 선택된 탭 버튼 스타일 */
.tab button.active {
  background:rgb(17, 151, 65);
  color: white;
  border: 0.5px solid lightgray;
}
/* 탭 컨텐츠 스타일 */
.tabcontent {
  display: none;
  clear: both;
}
/* 선택된 탭 컨텐츠 스타일 */
.tabcontent.active {
  display: block;
}

/* 카테고리별 컨텐츠*/
.cat_moim_list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: center;
}
.cat_moim{
  width: 260.5px;
  height: 270px;
  margin: 5px 0px;
}
.left{
  border-right: 3px solid white;
}
.middle{
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.right{
  border-left: 3px solid white;
}
.photo{
  width: 100%;
  height: 150px;
}
