/* Web Font Load*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+KR:wght@400;500;700&display=swap');

*{
  font-family: 'Noto Sans kr', sans-serif;
  font-size: 16px;
}
form{
    margin: 0px;
}
.container {
  width: 1060px;
  height: auto;
}
.form-group{
  padding: 40px 40px;
  display: grid;
  grid-template-columns: 2fr 1.45fr;
  grid-template-areas:
  'box1 box1'
  'box2 box3'
  'box4 box4'
  'box5 box5' 
  'box6 box7'; 
  grid-gap: 20px 25px;
}
p {
  display: block;
  margin-block: 5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.detail_box{
  border: 1px rgb(17, 151, 65) solid;
  border-radius: 7px;
  padding: 10px 15px;
  width: 100%;
}
.top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px rgb(17, 151, 65) dashed;
}
.middle{
  border-radius: 0px;
  border-top: 1px rgb(17, 151, 65) dashed;
  border-bottom: 1px rgb(17, 151, 65) dashed;
}
.bottom{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 1px rgb(17, 151, 65) dashed;
}
.category{
  font-weight: bold;
  margin: 10px 0px 15px 0px;
  color: rgb(17, 151, 65);
}
.moim_creator{
  display: flex;
  row-gap: 10px;
  margin: 5px 0px;
}
.moim_creator_title{
  font-weight: bold;
  margin-right: 20px;
  width: 100px;
  font-size: 20px;
}
.moim_creator_content{
  margin: 0px;
  font-size: 20px;

}
.moim_info{
  display: flex;
  row-gap: 10px;
  margin: 5px 0px;
}
.moim_info_title{
  font-weight: bold;
  margin-right: 20px;
  width: 140px;
}
.moim_info_content{
  margin: 0px;  
}
.created_date{
  color: gray;
  font-size: 13px;
  text-align: right;
  margin-top: 20px;
}
.moim_nums{
  color: gray;
  font-size: 12px;
}
.textbox{
  width: 350px;
  height: 35px;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 5px;
}
.moim_title{
  font-size: 26px;
  margin: 0px;
}
.green_bar {
  height: 25px;
  position: relative;
  top: 2px;
}
.moim_photo{
  width: 555px;
  height: 410px;
}
.ticket{
  width: 600px;
  height: 200px;
  align-items: center;
  background-color: rgb(17, 151, 65);
  margin: 0px auto;
  border-radius: 50px;
}
.box{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.box1{
  /* background-color:rgb(93, 142, 185); */
  grid-area: box1;
  /* padding-bottom: 15px; */
  /* border-bottom: 4px rgb(17, 151, 65) solid; */
  /* margin-bottom: 20px; */
  /* margin: 0px 60px 20px 60px; */
}
.box2{
  /* background-color:rgb(224, 51, 163); */
  grid-area: box2;
}
.box3{
  /* background-color:rgb(235, 255, 243); */
  grid-area: box3;
  width: 409px
}
.box4{
  /* background-color: red; */
  grid-area: box4;
}
.box5{
  /* background-color:rgb(71, 80, 87); */
  grid-area: box5;
  margin: 0px auto 25px auto;
}
.box6{
  /* background-color:rgb(139, 223, 36); */
  grid-area: box6;
}
.box7{
  /* background-color: yellow; */
  grid-area: box7;
  margin-left: auto;
}
.moim_content_box{
  width:100%;
  height:100%;
  border:2px black solid
}
.moim_content{
  padding: 0px 10px;
  white-space: pre-wrap;
}

/* 이미지 슬라이드 구현*/
.box2{
  position: relative;
  overflow: hidden;
}
.slider-container{
  position: absolute;
  width: 100%;
}
.slide {
  position: absolute;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}
.slider-container.animated {
	-webkit-transition: left .3s ease-in;
	transition: left .3s ease-in;
}
.simple-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#prev,
#next {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 999999;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
#prev.disabled, #next.disabled {
  display:none;
}
#prev {
  background-image: url('..\imgs\moimmoimUi\arrow-left-out.png');
  margin-left: -250px;
}
#prev:hover {
  background-image: url('..\imgs\moimmoimUi\arrow-left-over.png');
}
#next{
  margin-left: 200px;
  background-image: url('..\imgs\moimmoimUi\arrow-right-out.png');
}
#next:hover{
  background-image: url('..\imgs\moimmoimUi\arrow-right-over.png'); }

