/* Web Font Load*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+KR:wght@400;500&display=swap');

{
  font-family: 'Noto Sans KR', sans-serif;
}

/* main 설정 */
.main_container {
  width: 1060px;                         
  height: 420x;
  margin-top: 20px;
}

/*카테고리 이동 버튼*/
.tab {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: center;
  }
.tab button {
  width: 212px;
  height: 47px;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 0.5px solid lightgray;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
.tab button.active {
  background:rgb(17, 151, 65);
  color: white;
  border: 0.5px solid lightgray;
}


/* 정렬 */
.dropdown{
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.dropbtn{
  width : 30px;
  background-color: transparent;
  margin-right: 10px;
}
.dropdown-sort{
  position: relative;
  z-index: 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 500;
  width: 100px;
  height: 30px;
  border: 1px solid lightgray;
  display: inline-block;
  margin: auto 5px;
  border-radius: 5px;
}
.sort_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sort_button{
  display: inline-block;
  width: 85px;
  height: 30px;
  background-color: rgb(91, 201, 131);
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  border-radius: 5px;
  margin: auto 5px;
}
.dropdown-sort a{
  display: block;
  text-decoration: none;
  color: rgb(37, 37, 37);
  text-align: left;
  padding: 6px 0px 6px 13px;
  margin: 0px;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  background-color: #f6f6f6;
}
.dropdown-sort a:hover{
  background-color: rgb(17, 151, 65);
  color: white;
}
.dropdown:hover .dropdown-sort {
  display: block;
}

/* 모임 리스트 설정 */
ol,
ul {
  list-style: none;
  margin:0px;
  padding: 0px;
}
.list{
  margin: 10px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.list figure{
  width: 100%;
  align-items: center;
  width: 257.5px;
  height: 270px;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
}
.photo{ 
  width: 100%;
  height: 150px;
}
.info{
  width: 95%;
  height: 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0px;
  padding: 5px 10px 5px 0px;
  grid-template-areas: 
  'moim_location moim_location'
  'title title'
  'moim_time moim_time'
  'moim_price num_of_people';
}
.moim_location{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  line-height: 20px;
  grid-area: moim_location;
}
.title{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 25px;
  grid-row: 2/3;
  grid-column:1/3;
}
.moim_time{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  line-height: 20px;
  grid-area: moim_time;
}
.moim_price{
  font-size: 13px;
  font-weight: 500;
  color: rgb(17, 151, 65);
  line-height: 25px;
}
.num_of_people {
  text-align: right;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;  
}

/*모임작성 플로팅버튼*/
.create_moim{
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: rgb(17, 151, 65);
  float: right;
  position: sticky;
  bottom: 50px;
  position: inline-block;
  margin: 0px;
}

/*페이지네이션*/
.paging{
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 4px;
  margin: 20px 0px;
}
.paging_num{
  display: flex;
  justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 14px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.5px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  color: rgb(24, 39, 19);
}
.paging_icon{
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 10px;
  height: 15px;
  background-color: transparent;
}

.closed {
  width: 257.5px;
  height: 270px;
  color: white;
  background-color: rgb(153, 153, 153, 0.5);
  z-index: 1;
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 8;
}