@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import "header.css";
@import "footer.css";

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    background-color: white;
}

main {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 600px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #E6E6E6;
    position: relative;
}



#main-logo {
    position: absolute;
    top: 50px;
    width: 200px;
    height: 100px;
}


.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userInfo input {
    margin-top: 20px;
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 3px solid #E6E6E6;
    text-align: center;
}

.userInfo input::placeholder {
    color: #182713;
}

input:focus {
    color: #1DD65F;
    outline-color: #1DD65F;
}


.userInfo>button {
    margin-top: 20px;
    width: 310px;
    height: 50px;
    font-size: x-large;
    font-weight: 600;
    background-color: #1DD65F;
    border: solid 1px #1DD65F;
    border-radius: 10px;
}

#confirm-msg {
    color: orange;
    font-size: x-large;
}

#choose-your-birth {
    margin-bottom: 0px;
}

input[type='date'] {
    margin-top: 0px;
}

fieldset {
    margin-top: 10px;
    border: none;
    width: fit-content;
}

#category-radio-legend {
    margin: auto;
}

fieldset label {
    color: gray;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
}

input[type='radio'] {
    width: 10px;
    margin: 0px 3px 0px 0px;
    outline: none;
}

#loc-srch-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#srch-popup-bttn {
    margin-top: 10px;
    background-color: #1DD65F;
    border: solid 1px #1DD65F;
    border-radius: 3px;
}

#signup-btn {
    margin-top: 0px;
}