<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moimmoimProject.mapper.MoimMapper">
    <resultMap id="moimResultMap" type="moimmoimProject.domain.moimDomain.MoimDo">
        <id column="MOIM_NUM" property="moimNum" jdbcType="BIGINT" />
        <result column="USERID_NUM" property="moimHostUserIdNum" jdbcType="BIGINT" />
        <result column="MOIM_TITLE" property="moimTitle" jdbcType="VARCHAR" />
        <result column="MOIM_MAIN" property="moimMainContent" jdbcType="VARCHAR"/>
        <result column="MOIM_PICTURES" property="moimImage" jdbcType="VARCHAR" />
        <result column="MOIM_CREATE_DATE" property="moimCreateDate" jdbcType="DATE" />
        <result column="MOIM_VIEWS" property="moimViewCount" jdbcType="BIGINT"  />
        <result column="CATEGORY_NUM" property="moimCategoryNum" jdbcType="BIGINT"  />
        <result column="MOIM_START_TIME" property="moimStartDate" jdbcType="DATE"/>
        <result column="MOIM_END_TIME" property="moimEndDate" jdbcType="DATE" />
        <result column="MOIM_MEMBER_COUNT" property="moimMemberCount" jdbcType="BIGINT"/>
        <result column="MOIM_MEMBER_MAX" property="moimMemberMax" jdbcType="BIGINT" />
        <result column="MOIM_PRICE" property="moimPrice" jdbcType="BIGINT" />
        <result column="MOIM_DEADLINE" property="moimDeadLine" jdbcType="DATE"/>
        <result column="MOIM_DEAD_CHECK" property="moimDeadCheck" jdbcType="INTEGER" />
        <result column="LOCATION_NUM" property="moimLocationNum" jdbcType="BIGINT" />
    </resultMap>

    <select id="findAllex" parameterType="moimDo">
        SELECT *
        FROM MOIM_POST
        <where>
            <if test="moimCategoryNum != 6">AND CATEGORY_NUM = #{moimCategoryNum} </if>
            <if test="moimCategoryNum == 7">AND MOIM_TITLE LIKE '%'||#{keyword}||'%'</if>
        </where>
    </select>

    <select id="findAllByUserIdNum" parameterType="map" resultMap="moimResultMap">
        SELECT *
        FROM MOIM_POST
        WHERE USERID_NUM = #{userIdNum}
        ORDER BY MOIM_NUM DESC
    </select>

    <select id="findAllByMoimNum" parameterType="map" resultMap="moimResultMap">
        SELECT *
        FROM MOIM_POST
        WHERE MOIM_NUM = #{moimNum}
        ORDER BY MOIM_NUM DESC
    </select>

    <select id="findAllbyPopular" parameterType="map" resultMap="moimResultMap">
        <![CDATA[
        SELECT *
        FROM (
                 SELECT *
                 FROM MOIM_POST
                 ORDER BY MOIM_VIEWS DESC
             ) MOIM_POST
        WHERE ROWNUM < 4 AND MOIM_DEAD_CHECK=0
        ]]>
    </select>

    <insert id="createMoim" parameterType="moimDo">
        <selectKey keyProperty="moimNum" resultType="Long" order="BEFORE">
            SELECT MOIM_NUM_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO MOIM_POST(
        MOIM_NUM, USERID_NUM, MOIM_TITLE, MOIM_MAIN,
        MOIM_PICTURES, MOIM_CREATE_DATE, CATEGORY_NUM,
        MOIM_START_TIME, MOIM_END_TIME, MOIM_MEMBER_MAX,
        MOIM_PRICE, MOIM_DEADLINE, LOCATION_NUM)
        VALUES(
        #{moimNum},#{moimHostUserIdNum},
        #{moimTitle},#{moimMainContent},#{moimImage},
        #{moimCreateDate},#{moimCategoryNum},
        #{moimStartDate},#{moimEndDate},#{moimMemberMax},
        #{moimPrice},#{moimDeadLine},#{moimLocationNum})

    </insert>

    <update id="countView" parameterType="Long">
        UPDATE MOIM_POST m
        set m.MOIM_VIEWS = m.MOIM_VIEWS + 1
        where m.MOIM_NUM = #{moimNum}
    </update>

    <update id="deleteMoim" parameterType="map">
        DELETE
        FROM MOIM_POST
        WHERE MOIM_NUM = #{moimNum}
    </update>

    <select id="moimList" parameterType="map" resultMap="moimResultMap">
        <![CDATA[
            SELECT *
            FROM (
                SELECT MOIM_POST.*, ROWNUM rnum
                FROM (
                     SELECT *
                     FROM MOIM_POST
        ]]>
                     <where>
                         <if test="moimCategoryNum lt 6">AND CATEGORY_NUM = #{moimCategoryNum} </if>
                         <if test="moimCategoryNum == 7">AND MOIM_TITLE LIKE '%'||#{keyword}||'%' OR MOIM_MAIN LIKE '%'||#{keyword}||'%'</if>
                     </where>
        <![CDATA[
                     ORDER BY MOIM_NUM DESC
                     ) MOIM_POST
                WHERE ROWNUM <= #{cri.pageStart} + #{cri.perPageNum}
                )
            WHERE rnum > #{cri.pageStart}
        ]]>
    </select>
    <select id="moimListCnt" resultType="int">
        SELECT count(*)
        FROM MOIM_POST
        <where>
            <if test="moimCategoryNum lt 6">AND CATEGORY_NUM = #{moimCategoryNum} </if>
            <if test="moimCategoryNum == 7">AND MOIM_TITLE LIKE '%'||#{keyword}||'%'</if>
        </where>
    </select>

    <select id="findLocationName" resultType="LocationDo">
        SELECT *
        FROM MOIM_LOCATION
        WHERE LOCATION_NUM = #{moimLocationNum}
    </select>

    <update id="plusMemberCount">
        UPDATE MOIM_POST m
        set m.MOIM_MEMBER_COUNT = m.MOIM_MEMBER_COUNT + 1
        where m.MOIM_NUM = #{moimNum}
    </update>

    <insert id="imageEnroll">
        <selectKey resultType="Long" keyProperty="moimNum" order="AFTER">
            SELECT MOIM_NUM_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        insert into IMAGE(UUID, UPLOADPATH, FILENAME, MOIM_NUM)
        values (#{uuid}, #{uploadPath}, #{fileName}, #{moimNum})

    </insert>

    <select id="imageList" resultType="ImageDTO">
        SELECT *
        FROM IMAGE
        WHERE MOIM_NUM = #{moimNum}
    </select>
    
    <select id="locList1" resultType="LocationDo">
        SELECT *
        FROM MOIM_LOCATION
        WHERE FRONTCODE = 1100000000
    </select>

    <update id="insertImage">
        UPDATE MOIM_POST m
        set m.MOIM_PICTURES = #{path}
        WHERE m.MOIM_NUM = #{moimNum}
    </update>

    <select id="findAll" parameterType="map" resultMap="moimResultMap">
        <![CDATA[
            SELECT *
            FROM (
                SELECT MOIM_POST.*, ROWNUM rnum
                FROM (
                     SELECT *
                     FROM MOIM_POST
                     ORDER BY MOIM_NUM DESC
                     ) MOIM_POST
                WHERE ROWNUM <= #{cri.pageStart} + #{cri.perPageNum}
                )
            WHERE rnum > #{cri.pageStart}
        ]]>
    </select>

    <select id="findByCategory" parameterType="map" resultMap="moimResultMap">
        <![CDATA[
        SELECT *
        FROM (
                 SELECT *
                 FROM MOIM_POST
                 ORDER BY MOIM_VIEWS DESC
             ) MOIM_POST
        WHERE ROWNUM < 5 AND CATEGORY_NUM = #{moimCategoryNum} AND MOIM_DEAD_CHECK=0
        ]]>
    </select>

    <insert id="joinMoim">
        <selectKey resultType="Long" keyProperty="no" order="BEFORE">
            SELECT MOIM_MEM_NO_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        insert into MOIM_MEM(MOIMHOSTUSERIDNUM, MOIM_NUM, REVIEW_CHECK, JOIN_NUM, NO)
        values (#{moimDo.moimHostUserIdNum}, #{moimDo.moimNum}, 0, #{joinNum}, #{no})
    </insert>


    <select id="findMoimed" resultType="Long">
        SELECT MOIM_NUM
        FROM MOIM_MEM
        WHERE JOIN_NUM = #{joinNum}
    </select>

</mapper>