<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moimmoimProject.mapper.ProfileMapper">
    <resultMap id="profileResultMap" type="moimmoimProject.domain.userDomain.ProfileDo">
        <id column="USERID_NUM" property="userIdNum" jdbcType="BIGINT" />
        <result column="USER_PROFILE_IMAGE" property="userProfileImage" jdbcType="VARCHAR" />
        <result column="HOST_MOIM_REVIEW_SCORE_AVG" property="userMoimReviewScoreAvg" jdbcType="DOUBLE" />
        <result column="YEAR_OF_BIRTH" property="userBirth" jdbcType="DATE" />
        <result column="USER_INTRODUCE" property="userIntroduction" jdbcType="VARCHAR" />
        <result column="HOST_MOIM_COUNT" property="userHostingCount" jdbcType="BIGINT" />

    </resultMap>

    <select id="findByUserIdNum" parameterType="map" resultMap="profileResultMap">
        SELECT *
        FROM PROFILE
        WHERE USERID_NUM = #{userIdNum}
    </select>

    <update id="updateProfileImage" parameterType="moimmoimProject.domain.userDomain.ProfileDo">
        UPDATE PROFILE SET USER_PROFILE_IMAGE = #{userProfileImage} WHERE USERID_NUM = #{userIdNum}
    </update>

    <insert id="insertProfileDefault" parameterType="moimmoimProject.domain.userDomain.ProfileDo">
        INSERT INTO PROFILE
        VALUES (
            #{userIdNum},
            '/default_image.png',
            (select avg(star) from users u, review r
            where u.userid_num = r.userid_num and u.userid_num = ${userIdNum}),
            (SELECT SUBSTR(BIRTH, 1, 4)
            FROM USERS
            WHERE USERID_NUM = ${userIdNum}),
            '안녕하세요',
            (select count(moim_num) from users u, moim_post m
            where u.userid_num = m.userid_num and u.userid_num = ${userIdNum})
        )
    </insert>

    <select id="findAllProfileDo" parameterType="map" resultMap="profileResultMap">
        <![CDATA[
            SELECT *
            FROM (
                SELECT PROFILE.*, ROWNUM rnum
                FROM (
                     SELECT *
                     FROM PROFILE
        ]]>
        <where>
            <if test="moimCategoryNum == 7">AND MOIM_TITLE LIKE '%'||#{keyword}||'%' OR MOIM_MAIN LIKE '%'||#{keyword}||'%'</if>
        </where>
        <trim prefix="ORDER BY">
            <if test="sorting == 0"> HOSTING_COUNT DESC </if>
            <if test="sorting == 1"> MOIM_VIEWS DESC </if>
        </trim>
        <![CDATA[

                     ) PROFILE
                WHERE ROWNUM <= #{cri.pageStart} + #{cri.perPageNum}
                )
            WHERE rnum > #{cri.pageStart}
        ]]>
    </select>

    <select id="profileListCnt" resultType="int">
        SELECT count(*)
        FROM PROFILE
        <where>
            <if test="moimCategoryNum lt 6">AND CATEGORY_NUM = #{moimCategoryNum} </if>
            <if test="moimCategoryNum == 7">AND MOIM_TITLE LIKE '%'||#{keyword}||'%'</if>
        </where>
    </select>



</mapper>