<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moimmoimProject.mapper.TicketMapper">
    <resultMap id="ticketResultMap" type="moimmoimProject.domain.ticketDomain.TicketDo">
        <id column="ORDER_NUM" property="orderNum" jdbcType="BIGINT" />
        <result column="TICKET_NUM" property="ticketNum" jdbcType="BIGINT" />
        <result column="IMP_UID" property="imp_uid" jdbcType="VARCHAR" />
        <result column="MOIM_NUM" property="moimNum" jdbcType="BIGINT" />
        <result column="USERID_NUM" property="userIdNum" jdbcType="BIGINT" />

    </resultMap>

    <select id="findByUserIdNum" parameterType="map" resultMap="ticketResultMap">
        SELECT *
        FROM TICKET
        WHERE USERID_NUM = #{userIdNum}
    </select>
    <select id="findByMoimNum" parameterType="map" resultMap="ticketResultMap">
        SELECT *
        FROM TICKET
        WHERE MOIM_NUM = #{moimNum}
    </select>
    <insert id="insertTicket" parameterType="moimmoimProject.domain.ticketDomain.TicketDo">
        INSERT INTO TICKET(ORDER_NUM, TICKET_NUM, IMP_UID, MOIM_NUM, USERID_NUM)
        VALUES(#{orderNum}, #{ticketNum}, #{imp_uid}, #{moimNum}, #{userIdNum})
    </insert>
</mapper>