/* Web Font Load*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+KR:wght@400;500;700&display=swap');

*{
  font-family: 'Noto Sans kr', sans-serif;
  font-size: 16px;
}
.container {
  width: 1060px;
  height: auto;
}
.form-group{
  margin: 20px auto 30px auto;
  display: grid;
  grid-template-areas:
  'box1'
  'box2'
  'box3'; 
  grid-gap: 10px;  
}
.green_bar {
  height: 20px;
  position: relative;
  top: 2px;
}
.box{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.box1{
  grid-area: box1;
  height: 80px;
}
.box2 {
  grid-area: box2;
  width: 1060px;
  height: 300px;
  margin-bottom: 20px;
}
.box3{
  grid-area: box3;
  width: 1060px;
  height: 300px;
}

/* 모임 리스트 설정 */
ol{
  list-style: none;
  margin:0px;
  padding: 0px;
}
.list{
  margin: 10px 0px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
.list figure{
  width: 100%;
  align-items: center;
  width: 257.5px;
  height: 270px;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
}
.photo{ 
  width: 100%;
  height: 150px;
}
.info{
  width: 95%;
  height: 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0px;
  padding: 5px 10px 5px 10px;
  grid-template-areas: 
  'moim_location moim_location'
  'title title'
  'moim_time moim_time'
  'moim_price num_of_people';
  text-align: left;
}
.moim_location{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  line-height: 20px;
  grid-area: moim_location;
}
.title{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 25px;
  grid-row: 2/3;
  grid-column:1/3;
}
.moim_time{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  line-height: 20px;
  grid-area: moim_time;
}
.moim_price{
  font-size: 13px;
  font-weight: 500;
  color: rgb(17, 151, 65);
  line-height: 25px;
}
.num_of_people {
  text-align: right;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;  
}



/* 이미지 슬라이드 구현*/
.box2, .box3{
  position: relative;
  overflow: hidden;
}
#prev, #next, #prev2, #next2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 999999;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
#prev.disabled, #next.disabled, #prev2.disabled, #next2.disabled {
display:none;
}
#prev, #prev2 {
background-image: url('/imgs/moimmoimUi/arrow-left-out.png');
margin-left: -530px; 
}
#prev:hover, #prev2:hover {
background-image: url('/imgs/moimmoimUi/arrow-left-over.png');
}
#next, #next2{
margin-left: 472.8px;
background-image: url('/imgs/moimmoimUi/arrow-right-out.png');
}
#next:hover, #next2:hover{
background-image: url('/imgs/moimmoimUi/arrow-right-over.png');
}
.moim_title{
  font-size: 25px;
}
.status {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 0px;
}
.slider-container, .slider-container2{
  margin: 40px auto;
  position: absolute;
  width: 100%;
}
.slider-container.animated, .slider-container2.animated {
  -webkit-transition: left .3s ease-in;
  transition: left .3s ease-in;
}
.slide, .slide2 {
  position: absolute;
  width: 25%;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

.no_moim{
  width: 1045px;
  height: 250px;
  background-color: rgb(250, 255, 253);
  border-radius: 10px;
  border: 3px rgb(17, 151, 65) dotted;
  padding: auto;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: lighter;
}

